fastapi
uvicorn
pydantic
scikit-learn
numpy
pandas
joblib
huggingface_hub
google-cloud-translate==3.12.0  # optional if you use Google Translate API
google-generativeai             # optional (Gemini)
python-dotenv
imbalanced-learn
